/* Global Styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Navbar Custom Styles */
.navbar-custom {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: 20px auto;
  padding: 10px 0;
  border-radius: 40px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px 20px;
  backdrop-filter: blur(20px);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-brand img {
  width: 120px;
  height: auto;
}

.navbar-nav {
  flex-direction: column; /* Mengatur item navbar dalam kolom */
}

.navbar-nav .nav-item {
  text-align: center; /* Memastikan teks di dalam item navbar berada di tengah */
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item-menu {
  color: black !important;
  font-weight: 600;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-item-menu:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom Toggler for Mobile */
.custom-toggler {
  background-color: #ffc73c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.custom-toggler:focus {
  outline: none;
  box-shadow: none;
}

.custom-toggler.collapsed .navbar-toggler-icon,
.custom-toggler .navbar-toggler-icon {
  background-image: none;
  position: relative;
}

.custom-toggler .navbar-toggler-icon::before,
.custom-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  transition: transform 0.2s ease;
}

.custom-toggler.collapsed .navbar-toggler-icon::before {
  transform: translate(-50%, -6px) rotate(0deg);
}

.custom-toggler.collapsed .navbar-toggler-icon::after {
  transform: translate(-50%, 6px) rotate(0deg);
}

.custom-toggler .navbar-toggler-icon::before {
  transform: translate(-50%, 0) rotate(45deg);
}

.custom-toggler .navbar-toggler-icon::after {
  transform: translate(-50%, 0) rotate(-45deg);
}

/* Button Custom Styles */
.btn-custom {
  background-color: #ffc734 !important;
  color: white !important;
  border-radius: 40px;
  padding: 12px 15px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  margin: 0;
  font-weight: bold; /* Menambahkan font-weight bold */
}

.btn-custom:hover {
  background-color: #ffb300 !important;
}

/* Main Content Styles */
.main-content {
  background-image: url("../assets/gambar/Meta Image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  padding-top: 300px;
}

.main-content .btn-explore {
  background-color: #ffc73c;
  font-weight: 600; /* Menambahkan font-weight bold */
  color: white;
  border-radius: 50px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
  display: inline-block;
}

.main-content .btn-explore:hover {
  background-color: #ffb300 !important;
}

/* Image Gallery Styles */
.box-slider {
  margin-top: 30px;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 10;
  border-radius: 20px;
}

.swiper-container-custom {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.img-fluid {
  max-width: 100%;
  height: auto;
  /* margin-bottom: 20px; */
}

/* About Section Styles */
.about-section {
  padding: 40px 0;
  background-image: url("../assets/gambar/about.png");
  background-size: cover;
  color: white;
}

.about-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-description {
  font-size: 18px;
  margin-bottom: 10px;
}

/* .mekanisme {
  margin-top: 0px;
} */

.mekanisme h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Timeline Styles */
.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 70px;
  width: 2px;
  border-left: 2px dashed white;
}

.timeline-item {
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: #00bfff;
  border: 2px solid white;
  border-radius: 50%;
  box-sizing: border-box;
}

.timeline-item .inner-circle {
  position: absolute;
  left: -6px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.timeline-item h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-left: 30px;
}

.timeline-item p {
  font-size: 16px;
  color: white;
  margin-left: 30px;
}

.timeline-item p.date {
  color: #ffc73c;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Custom Button Styles */
.btn-custom3 {
  background-color: #ffc73c !important;
  font-weight: 600;
  color: white !important;
  border-radius: 40px;
  padding: 10px 30px;
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}

.btn-custom3:hover {
  background-color: #ffb300 !important;
}

// sections css blogs
.blog-title {
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.blog-time {
  font-size: 0.875rem;
  color: #999;
  transition: color 0.3s ease;
}
.blog-time-card {
  font-size: 0.875rem;
  color: #fff;
}

/* Main Blog Styles */
.main-blog {
  background-color: #f8f9fa;
  padding: 0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.main-blog img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.main-blog:hover img {
  transform: scale(1.05);
}

.main-blog .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, #00d1ff, #00d1ff, #ffffff00);
  color: white;
  padding: 15px 20px;
  border-radius: 0 0 10px 10px;
  text-align: left;
  transition: color 0.3s ease;
}
.main-blog .overlay h4 {
  font-size: 18px;
}

.main-blog:hover .overlay h4 {
  color: #ffc73c;
}

/* Side Blogs Styles */
.side-blogs .card {
  border: none;
  background-color: transparent;
}

.side-blogs .card img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100px;
  transition: transform 0.3s ease;
}

.side-blogs .card:hover img {
  transform: scale(1.05);
}

.side-blogs .card-body {
  padding-left: 10px;
}

.side-blogs .card:hover .card-title {
  color: #00d1ff;
}

/* Header Section Styles */

.header-section-bg {
  background-image: url("/assets/gambar/Aggregator.png"); /* Replace with your background image */
  background-size: cover; /* Ensure the image covers the section */
  background-position: center; /* Center the background image */
  padding: 30px 0; /* Adjust padding as needed */
}

.header-section {
  margin-bottom: 20px;
}

.header-section img {
  width: 300px;
  height: auto;
}

/* Button Styles */
.btn-custom-blog {
  background-color: #00d1ff;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  position: relative;
}

.btn-custom-blog:hover {
  background-color: #ffc73c;
  color: #fff;
  text-decoration: none; /* Remove underline on hover */
}

.btn-custom-blog::after {
  content: "→";
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  margin-left: 10px;
  top: 45%;
  transform: translateY(-50%);
  transition: right 0.3s ease;
}

.footer {
  background-color: #00d1ff;
  color: white;
  padding: 20px 0;
}

.footer img {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 600px;
}

.social-icons {
  text-align: center;
}

.social-icons p {
  font-size: 16px;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.social-icons a.facebook {
  background-color: #3b5998;
}

.social-icons a.twitter {
  background-color: #1da1f2;
}

.social-icons a.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social-icons a.linkedin {
  background-color: #0077b5;
}

.social-icons a.youtube {
  background-color: #ff0000;
}

.social-icons a img {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.footer hr {
  border-top: 2px solid white;
  margin: 20px auto;
  width: 100%;
}

.footer .copyright {
  font-size: 14px;
  margin-top: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-custom {
    width: 90%;
  }

  .navbar-brand img {
    width: 100px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .navbar-nav .btn-custom {
    width: 80vw;
    border-radius: 30px;
    padding: 15px 0;
    margin: 0;
    text-align: center;
  }

  .main-content {
    padding-top: 360px;
  }

  .box-slider {
    width: 100%;
    margin-top: 20px;
  }

  .img-fluid-hero {
    max-width: 80%;
    margin: 0;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .nav-link:hover,
  .nav-item-menu:hover {
    background-color: transparent !important; /* Hilangkan perubahan latar belakang pada hover */
    color: inherit !important; /* Hilangkan perubahan warna teks pada hover */
    box-shadow: none !important; /* Hilangkan efek bayangan pada hover */
  }

  .btn-custom:hover {
    background-color: #ffc734 !important; /* Pastikan tombol tetap pada warna default */
  }

  .about-title {
    font-size: 28px;
  }

  .about-description {
    font-size: 16px;
  }

  .mekanisme h3 {
    font-size: 24px;
  }

  .timeline::before {
    left: 0px; /* Adjust the position of the timeline line */
  }

  .timeline-item {
    margin-bottom: 30px; /* Reduce space between items */
  }

  .timeline-item h4 {
    font-size: 18px;
    margin-left: 20px; /* Adjust margin */
  }

  .timeline-item p {
    font-size: 14px;
    margin-left: 20px; /* Adjust margin */
  }

  .header-section img {
    width: 200px; /* Smaller width for header logo on medium screens */
  }

  .main-blog img {
    height: auto; /* Allow the image to maintain aspect ratio on smaller screens */
  }

  .side-blogs .card img {
    height: 80px; /* Adjust side blog image height for medium screens */
  }

  .btn-custom-blog {
    font-size: 0.875rem; /* Adjust button font size for medium screens */
    padding: 12px 20px; /* Adjust padding for smaller screens */
  }
  .blog-title {
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .btn-custom-blog {
    width: auto; /* Set width to auto to avoid full width */
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Center the button horizontally */
  }
}

@media (max-width: 576px) {
  .navbar-custom {
    width: 95%;
  }

  .navbar-brand img {
    width: 80px;
  }

  .main-content {
    padding-top: 160px;
  }

  .main-content .btn-explore {
    width: 45%;
    font-size: 10px;
  }

  .box-slider {
    width: 100%;
    height: auto;
    margin-top: 100px;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .img-fluid-hero {
    max-width: 80%;
    margin: 0;
  }

  .nav-link:hover,
  .nav-item-menu:hover {
    background-color: transparent !important; /* Hilangkan perubahan latar belakang pada hover */
    color: inherit !important; /* Hilangkan perubahan warna teks pada hover */
    box-shadow: none !important; /* Hilangkan efek bayangan pada hover */
  }

  .btn-custom:hover {
    background-color: #ffc734 !important; /* Pastikan tombol tetap pada warna default */
  }

  .about-title {
    font-size: 24px;
  }

  .about-description {
    font-size: 14px;
  }

  .mekanisme h3 {
    font-size: 20px;
  }

  .timeline::before {
    left: 0px; /* Further adjust the position of the timeline line */
  }

  .timeline-item {
    margin-bottom: 20px; /* Further reduce space between items */
  }

  .timeline-item h4 {
    font-size: 16px;
    margin-left: 20px; /* Adjust margin */
  }

  .timeline-item p {
    font-size: 12px;
    margin-left: 20px; /* Adjust margin */
  }

  .header-section img {
    width: 150px; /* Smaller width for header logo on small screens */
  }

  .main-blog img {
    height: auto; /* Ensure image maintains aspect ratio */
  }

  .side-blogs .card img {
    height: 60px; /* Adjust side blog image height for small screens */
  }

  .btn-custom-blog {
    font-size: 0.75rem; /* Adjust button font size for small screens */
    padding: 10px 15px; /* Adjust padding for smaller screens */
  }
  .blog-title {
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .btn-custom-blog {
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 40px; /* Center the button horizontally */
  }

  .btn-custom-blog::after {
    right: 35px;
    font-size: 1rem;
    margin-left: 5px; /* Adjust spacing on mobile */
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer img {
    display: block;
    margin: 0 auto 20px auto;
    /* Centers the image and adds bottom margin */
  }

  .social-icons {
    text-align: center;
    margin-top: 20px;
  }

  .footer hr {
    width: 90%;
  }

  .footer .copyright {
    text-align: center;
    /* Center copyright text */
  }
}
